<article>
  <ul>
    <li><a href="{{ site.baseurl }}/test-mastheads">Masthead Tests</a></li>
    <li><a href="{{ site.baseurl }}/test-content-sidebar-sidebar">Content Sidebar Sidebar</a></li>
    <li><a href="{{ site.baseurl }}/test-content-sidebar">Content Sidebar</a></li>
    <li><a href="{{ site.baseurl }}/test-cover">Cover</a></li>
    <li><a href="{{ site.baseurl }}/test-custom">Custom</a></li>
    <li><a href="{{ site.baseurl }}/test-default-page">Default Page</a></li>
    <li><a href="{{ site.baseurl }}/test-default-post">Default Post</a></li>
    <li><a href="{{ site.baseurl }}/test-fullbleed">Fullbleed</a></li>
    <li><a href="{{ site.baseurl }}/test-fullwidth">Fullwidth</a></li>
    <li><a href="{{ site.baseurl }}/test-sidebar-content-sidebar">Sidebar Content Sidebar</a></li>
    <li><a href="{{ site.baseurl }}/test-sidebar-content">Sidebar Content</a></li>
    <li><a href="{{ site.baseurl }}/test-sidebar-sidebar-content">Sidebar Sidebar Content</a></li>
  </ul>
</article>