<p class="lead"><strong>Lead paragraph text</strong>. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, sint, minima eveniet quos adipisci iste sit ipsum.</p>

<p><strong>Regular paragraph text</strong>. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, deserunt, soluta, dignissimos temporibus harum consectetur odio debitis sunt architecto ullam quibusdam nesciunt inventore eos hic quidem perferendis aperiam. Quo, rerum.</p>

<p><a href="#">This is what a link looks like, too</a>.</p>

<h2>Heading Level 2</h2>
<p><strong>Regular paragraph text</strong>. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, deserunt, soluta, dignissimos temporibus harum consectetur odio debitis sunt architecto ullam quibusdam nesciunt inventore eos hic quidem perferendis aperiam. Quo, rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, deserunt, soluta, dignissimos temporibus harum consectetur odio debitis sunt architecto ullam quibusdam nesciunt inventore eos hic quidem perferendis aperiam. Quo, rerum.</p>

<blockquote>
    <p>&ldquo;<strong>Regular paragraph text</strong>. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, deserunt, soluta, dignissimos temporibus harum consectetur odio debitis sunt architecto ullam quibusdam nesciunt inventore eos hic quidem perferendis aperiam. Quo, rerum.&ldquo;</p>
    <footer><cite> &ndash; Blockquote Source</cite></footer>
</blockquote>

<h3>Heading Level 3</h3>
<p><strong>Regular paragraph text</strong>. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, deserunt, soluta, dignissimos temporibus harum consectetur odio debitis sunt architecto ullam quibusdam nesciunt inventore eos hic quidem perferendis aperiam. Quo, rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, deserunt, soluta, dignissimos temporibus harum consectetur odio debitis sunt architecto ullam quibusdam nesciunt inventore eos hic quidem perferendis aperiam. Quo, rerum.</p>

<h4>Heading Level 4</h4>
<p><strong>Regular paragraph text</strong>. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, deserunt, soluta, dignissimos temporibus harum consectetur odio debitis sunt architecto ullam quibusdam nesciunt inventore eos hic quidem perferendis aperiam.</p>

<blockquote class="blockquote-display">
    <p>&ldquo;Regular paragraph text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, deserunt, soluta, dignissimos temporibus.&ldquo;</p>
    <footer><cite> &ndash; Blockquote Source</cite></footer>
</blockquote>

<hr>

<p><a class="btn btn-default">Default Button</a> <a class="btn btn-lg btn-default">Large Default Button</a></p>

<p><a class="btn btn-primary">Standard Primary Button</a> <a class="btn btn-lg btn-primary">Large Primary Button</a></p>

<p><a class="btn btn-secondary">Standard Secondary Button</a> <a class="btn btn-lg btn-secondary">Large Secondary Button</a></p>

