---
layout: fullbleed

meta_title: About The Katydids
meta_description: "About the Katydids. The Katydids are a six member comedy ensemble whose names are all derived from Katherine."

redirect_from:
  - /about.html
  - /meet.html
  - /meet-caitlin-barlow.html
  - /meet-katy-colloton.html
  - /meet-cate-freedman.html
  - /meet-kate-lambert.html
  - /meet-katie-obrien.html
  - /meet-katie-thomas.html

title: About The Katydids
permalink: /about/

masthead:
  - slide:
    type:             background-image
    background-image: mastheads/masthead-about.jpg
---

<section id="katydids-overview" class="section-style-dark">
  <header>
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
          <h1 class="entry-title">Meet the Katydids</h1>

          <p class="lead primary">The Katydids are a six member ensemble whose names all happen to be derived from Katherine. They are creators, executive producers, writers and actors of the TV Land comedy <em>Teachers</em>.</p>

          <hr class="divider-primary">

          <p class="secondary">The Katydids have created and produced successful short videos, some of which have been featured on such sites as <em>The Huffington Post</em>, MTV, Perez Hilton, Smosh, <em>Cosmopolitan</em>, Italy’s <em>Vanity Fair</em>, College Humor, and <em>The Onion</em>. Collectively, they have performed for The Second City Touring Company, Broadway in Chicago, and TBS’ Just for Laughs.</p>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <div class="katydid-thumb col-xs-4 col-sm-4">
        <figure>
          <a href="#caitlin-barlow">
            <img src="{{ site.baseurl }}/img/about/katydids-thumb-caitlin-barlow@2x.jpg">
            <figcaption>Caitlin Barlow</figcaption>
          </a>
        </figure>
      </div>
      <div class="katydid-thumb col-xs-4 col-sm-4">
        <figure>
          <a href="#katy-colloton">
            <img src="{{ site.baseurl }}/img/about/katydids-thumb-katy-colloton@2x.jpg">
            <figcaption>Katy Colloton</figcaption>
          </a>
        </figure>
      </div>
      <div class="katydid-thumb col-xs-4 col-sm-4">
        <figure>
          <a href="#cate-freedman">
            <img src="{{ site.baseurl }}/img/about/katydids-thumb-cate-freedman@2x.jpg">
            <figcaption>Cate Freedman</figcaption>
          </a>
        </figure>
      </div>
    </div>

    <div class="row">
      <div class="katydid-thumb col-xs-4 col-sm-4">
        <figure>
          <a href="#kate-lambert">
            <img src="{{ site.baseurl }}/img/about/katydids-thumb-kate-lambert@2x.jpg">
            <figcaption>Kate Lambert</figcaption>
          </a>
        </figure>
      </div>
      <div class="katydid-thumb col-xs-4 col-sm-4">
        <figure>
          <a href="#katie-o'brien">
            <img src="{{ site.baseurl }}/img/about/katydids-thumb-katie-obrien@2x.jpg">
            <figcaption>Katie O'Brien</figcaption>
          </a>
        </figure>
      </div>
      <div class="katydid-thumb col-xs-4 col-sm-4">
        <figure>
          <a href="#kathryn-renée-thomas">
            <img src="{{ site.baseurl }}/img/about/katydids-thumb-kathryn-renee-thomas@2x.jpg">
            <figcaption>Kathryn Renée Thomas</figcaption>
          </a>
        </figure>
      </div>
    </div>

  </div>
</section>

<section id="katydids-bios">
  <div class="container">

    {% for katydid in site.data.bios %}

      <article class="entry entry-type-bio" id="{{ katydid.name | downcase | replace: ' ', '-' }}">

        {% if katydid.headshot %}
          <div class="entry-image">
            <figure>
              <img src="{{ site.baseurl }}/img/{{ katydid.headshot }}">
            </figure>
          </div>
        {% endif %}

        <div class="entry-description">
          <h1 class="entry-name">{{ katydid.name }}</h1>
          <p class="entry-bio">{{ katydid.bio }}</p>

          {% if katydid.links %}
            <hr class="divider-secondary">
            <div class="entry-links">
              <h4>Connect with {{ katydid.name }}</h4>
              <ul>
              {% for link in katydid.links %}

                {% unless link.website == empty %}
                  <li class="entry-link-website"><a href="{{ link.website }}" target="_blank"><i class="fa fa-globe"></i> Website</a></li>
                {% endunless %}

                {% unless link.twitter == empty %}
                  <li class="entry-link-twitter"><a href="{{ link.twitter }}" target="_blank"><i class="fa fa-twitter-square"></i> Twitter</a></li>
                {% endunless %}

                {% unless link.facebook == empty %}
                  <li class="entry-link-facebook"><a href="{{ link.facebook }}" target="_blank"><i class="fa fa-facebook-official"></i> Facebook</a></li>
                {% endunless %}

                {% unless link.instagram == empty %}
                  <li class="entry-link-instagram"><a href="{{ link.instagram }}" target="_blank"><i class="fa fa-instagram"></i> Instagram</a></li>
                {% endunless %}

                {% unless link.youtube == empty %}
                  <li class="entry-link-youtube"><a href="{{ link.youtube }}" target="_blank"><i class="fa fa-youtube-play"></i> YouTube</a></li>
                {% endunless %}

              {% endfor %}
              </ul>
            </div>
          {% endif %}

        </div>
      </article>

    {% endfor %}

  </div>
</section>
