---
layout: default-page

meta_title: The Katydids Events Calendar
meta_description: "Upcoming Events featuring The Katydids"

title: Calendar
permalink: /calendar/

masthead:
  - slide:
    type:             background-image
    background-image: mastheads/masthead-calendar.jpg

---

{% for entry in site.data.events %}

  <article class="entry-type-event">

    <div class="entry-datetime">
      {% unless entry.date == empty %}
        <p class="entry-date">{{ entry.date }}</p>
      {% endunless %}

      {% unless entry.time == empty %}
        <p class="entry-time">{{ entry.time }}
        {% unless entry.timezone == empty %}({{ entry.timezone }}){% endunless %}</p>
      {% endunless %}

      {% unless entry.category == empty %}
        <p class="entry-category">{{ entry.category }}</p>
      {% endunless %}
    </div>

    <div class="entry-details">
      <h2 class="entry-title"><a href="{{ entry.link }}" target="_blank">{{ entry.title }}</a></h2>

      <p class="entry-description">{{ entry.description }}</p>

<!--       <p><a class="entry-link" href="{{ entry.link }}" target="_blank">Read More</a></p> -->

      {% if entry.venue %}

        <h4>Venue</h4>

        {% for venue in entry.venue %}
          <p class="entry-venue">
            {{ venue.name }}
            {% unless venue.sitelink == empty %} (<a href="{{ venue.sitelink }}" target="_blank">Venue Website</a>){% endunless %}
          </p>

          {% unless venue.address_street == empty %}
            <p class="entry-address">
              {% unless venue.maplink == empty %}<a href="{{ venue.maplink }}" target="_blank">{% endunless %}
                <span class="entry-address-street">{{ venue.address_street }}</span><br>
                <span class="entry-address-city">{{ venue.address_city }}, </span>
                <span class="entry-address-state">{{ venue.address_state }}</span><br>
                <span class="entry-address-zip">{{ venue.address_zip }}</span><br>
              {% unless venue.maplink == empty %}</a>{% endunless %}
            </p>
          {% endunless %}

          {% unless venue.phone == empty %}
            <p class="entry-phone">{{ venue.phone }}</p>
          {% endunless %}



        {% endfor %}
      {% endif %}

    </div>

  </article>

{% endfor %}