/*!
*
* Global Styles
*
*/

html {
  height: 100%;
  overflow-y: scroll; // Keeps page centred in all browsers regardless of content height
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

body{
  height: 100%;
  position: relative;
}

.site-container{
  position: relative;
}

.site-content{
  padding-top: $baseline * 2;
  padding-bottom: $baseline * 2;
//  border-bottom: 1px solid $gray-lighter;
}


img{
  max-width: 100%;
  height: auto;
}

a:hover{
  cursor: pointer !important;
}

.site-main a:not(.btn){
  text-decoration: underline;
}


blockquote.blockquote-display {
  p{
      font-family: $font-family-serif;
      font-weight: $font-weight-normal;

      font-size: 2.5em;
      line-height: 1.3em;
      text-indent: -0.3em;
  }

  footer{
    font-family: $font-family-sans-serif;
  }
}



// Section Styles

.section-style-primary{
  background-color: $brand-primary;

  color: $off-white;
  -webkit-font-smoothing: antialiased; // for light text on dark backgrounds

  h1, h2, h3, h4,
  .h1, .h2, .h3, .h4{
    color: $white;
  }

  a:not(.btn){
    color: $white;
    text-decoration: underline;
  }

  blockquote p{
    color: $white;
  }
}

.section-style-primary-light{
  background-color: $brand-primary-light;

  color: $off-white;
  -webkit-font-smoothing: antialiased; // for light text on dark backgrounds

  h1, h2, h3, h4,
  .h1, .h2, .h3, .h4{
    color: $white;
  }

  a:not(.btn){
    color: $white;
    text-decoration: underline;
  }

  blockquote p{
    color: $white;
  }
}


.section-style-secondary{
  background-color: $brand-secondary;

  color: $brand-primary;

  h1, h2, h3, h4,
  .h1, .h2, .h3, .h4{
    color: $brand-primary;
  }

  blockquote p{
    color: $brand-primary;
  }
}

.section-style-neutral{
  background-color: $neutral;
  border-top: 1px solid $neutral-dark;
  border-bottom: 1px solid $neutral-dark;

  hr{
    border-color: darken($neutral, 15%);
  }
}

.section-style-dark{
  background-color: $kd-charcoal;
  color: $kd-gold;
}

.section-style-light{

}


// Divider Styles

.divider-secondary{
  border-color: $kd-pink;
  border-width: 2px;
  width: 100px;
  margin-left: 0;
}

.divider-primary{
  border-color: $kd-gold;
  border-width: 2px;
  width: 100px;
}