<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- jQuery Fallback (if needed) -->
<script>window.jQuery || document.write('<script src="{{ site.baseurl }}/js/vendor/jquery-1.11.3.min.js"><\/script>')</script>

<script src="{{ site.baseurl }}/js/vendor/jquery.mobile.custom.min.js"></script>

<script src="{{ site.baseurl }}/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>

<script src="{{ site.baseurl }}/bower_components/photoswipe/dist/photoswipe.min.js"></script>
<script src="{{ site.baseurl }}/bower_components/photoswipe/dist/photoswipe-ui-default.min.js"></script>

<script src="{{ site.baseurl }}/js/plugins.js"></script>

<script src="{{ site.baseurl }}/js/helpers.js"></script>

<script src="{{ site.baseurl }}/js/navigation-overlay.js"></script>
<script src="{{ site.baseurl }}/js/photoswipe-custom.js"></script>

<script src="{{ site.baseurl }}/js/main.js"></script>