<section id="masthead" class="masthead masthead-{{page.masthead.type}}" {% if page.masthead.type == "background-image" %} style="background-image: url({{site.baseurl}}/img/mastheads/{{page.masthead.background-image }})" {% endif %} >

    {% if page.masthead.type == "text" %}
      <h1>Masthead Headline: {{ page.masthead.headline }}</h1>
      <hr class="masthead-divider">
      <p class="masthead-subtitle">Masthead Subheadline: {{ page.masthead.subheadline }}</p>
    {% endif %}

    {% if page.masthead.type == "featured-image" %}
      <!-- Featured Image -->
      <figure class="masthead-figure">
        <img src="{{site.baseurl}}/img/mastheads/{{ page.masthead.featured-image }}" class="masthead-image">
      </figure>
    {% endif %}

    {% if page.masthead.type == "background-image" %}
      <!-- Background Image Applied to Parent; preload image here. -->
      <img src="{{site.baseurl}}/img/mastheads/{{ page.masthead.background-image }}" style="display: none !important; visibility: hidden !important;">
    {% endif %}

    {% if page.masthead.type == "gallery" %}
      <!-- Gallery -->
      <h2>Masthead Gallery</h2>
      <ul>
        {% for image in page.masthead.gallery %}
          <li class="item{% if forloop.index ==1 %} active{% endif %}">
            <img src="{{site.baseurl}}/img/galleries/{{ image.url }}" class="img-responsive">
            <p>{{ image.title }}</p>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if page.masthead.type == "partitions" %}
      <!-- Partitions  -->
      <div class="masthead-container">
        <div class="masthead-body">

          <div class="masthead-partition-image" style="background-image: url({{site.baseurl}}/img/mastheads/{{page.masthead.background-image }})">
            <img src="{{site.baseurl}}/img/mastheads/{{ page.masthead.background-image }}" style="display: none !important; visibility: hidden !important;">
          </div>

          <div class="masthead-partition-content">
            <div class="masthead-partition-message">

              {% if page.masthead.headline %}
                <h2>{{ page.masthead.headline }}</h2>
              {% endif %}

              {% if page.masthead.subheadline %}
              <p class="lead">{{ page.masthead.subheadline }}</p>
              {% endif %}

              {% if page.masthead.blockquote %}
              <blockquote>
                <p>{{ page.masthead.blockquote }}</p>
                <footer><p>&mdash; {{ page.masthead.source }}, <cite>{{ page.masthead.citation }}</cite></p></footer>
              </blockquote>
              {% endif %}

              {% if page.masthead.details %}
              <p class="lead">{{ page.masthead.details }}</p>
              {% endif %}

              {% if page.masthead.subnav %}
                <ul class="subnav">
                  {% for link in page.masthead.subnav %}
                    <li><a href="{{link.anchor}}"{% if link.window == "new" %} target="_blank"{%endif%}>{{ link.text }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </div>

        </div>
      </div>
    {% endif %}

</section>