/*!
*
* Archives
*
*/

.layout-archive{

  .entry--post {
    margin-bottom: ($baseline * 2);
    padding-bottom: ($baseline * 2);
    border-bottom: 1px solid $gray-lighter;
   }

  .entry-summary {
    @include make-sm-column(9);
    @include make-sm-column-pull(3);
  }

  .entry-excerpt {
    color: $gray;
  }

  .entry-meta {
    @include make-sm-column(3);
    @include make-sm-column-push(9);

    @media (min-width: $screen-sm-min) {
      text-align: right;
    }
  }
}