/*!
*
* Entry Type: Press
*
*/

.entry-type-press {
  margin-bottom: $baseline * 2;
  padding-bottom: $baseline;
  border-bottom: 1px solid #EEE;

  .entry-title{
    a{
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }
    }
  }

  .entry-meta{
    color: $gray-light;
    margin-bottom: $baseline / 2;
  }

  .entry-readmore{
    a{
      @extend .small;
      color: $gray-light;
      text-decoration: none !important;
    }
  }

}