/*!
*
* Footer Styles
*
*/

.site-footer{
	@extend .section-style-primary;

	color: $kd-gold;

	a{
		color: $kd-gold !important;
	}


	font-family: $font-family-sans-serif;
//	margin-top: ($baseline-xs * 2);

	font-size: $font-size-small;

	@media(min-width: $screen-md-min) {
//		margin-top: $baseline-md * 2;
	}
}

.footer-container{
	@extend .container;
}


.site-info{
	@extend %padding-top-2-baseline;
	@extend %padding-bottom-2-baseline;

	text-align: right;
}

.site-copyright{
	text-align: center;
	margin-bottom: $baseline;
	@include center-block();

	@media (min-width: $screen-sm-min) {
		display: inline;
		text-align: left;
		margin-bottom: 0;
		float: left;
	}
}

.site-credits{
	text-align: center;
	@include center-block();

	@media (min-width: $screen-sm-min) {
		display: inline;
		text-align: right;
		float: right;
	}
}