/*!
*
* Navigation Styles
*
*/

.navbar{
  z-index: 100; // make sure it stays on top of masthead
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid $brand-primary;

  @media (min-width: $screen-sm-min) {
    border-bottom: 0;
  }
}

.site-title{
  font-family: $font-family-display;
}


// Transparent Navbar

.navbar-transparent {
  background-color: $navbar-transparent-bg-xs;
  border-color: $navbar-transparent-border;

  @media (min-width: $screen-sm-min) {
    background-color: transparent;
    background: transparent;
  }

  .navbar-brand {
    letter-spacing: 1px; // Generalize
    font-size: 23px; // Generalize

    color: $navbar-transparent-brand-color-xs;

    &:hover,
    &:focus {
      color: $navbar-transparent-brand-hover-color-xs;
      background-color: $navbar-transparent-brand-hover-bg;
    }

    @media (min-width: $screen-sm-min) {
      color: $navbar-transparent-brand-color;
      font-size: 26px; // Generalize
      letter-spacing: 1px;

      &:hover,
      &:focus {
        color: $navbar-transparent-brand-hover-color;
        background-color: $navbar-transparent-brand-hover-bg;
      }

    }
  }

  .navbar-text {
    color: $navbar-transparent-color;
  }

  .navbar-nav {
    > li > a {

      font-size: $font-size-base-xs;
      color: $navbar-transparent-link-color-xs;

//      text-shadow: 0px 1px 1px rgba(0,0,0,0.4);

      @media (min-width: $screen-sm-min) {
        color: $navbar-transparent-link-color;
        font-size: $font-size-base-md - 1;
      }

      &:hover,
      &:focus {
        color: $navbar-transparent-link-hover-color;
        background-color: $navbar-transparent-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-transparent-link-active-color;
        background-color: $navbar-transparent-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-transparent-link-disabled-color;
        background-color: $navbar-transparent-link-disabled-bg;
      }
    }
  }

  .navbar-toggle {
    color: $navbar-transparent-toggle-color;
    border-color: $navbar-transparent-toggle-border-color;

    &:hover,
    &:focus {
      color: $navbar-transparent-toggle-hover-color;
      background-color: $navbar-transparent-toggle-hover-bg;
    }
    .icon-bar {
      background-color: $navbar-transparent-toggle-icon-bar-bg;
    }

    // Site-specific tweaks
    font-size: $font-size-base-xs - 2;
    padding: 6px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: $font-weight-semi-bold;
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $navbar-transparent-border;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $navbar-transparent-link-active-bg;
        color: $navbar-transparent-link-active-color;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $navbar-transparent-link-color;
          &:hover,
          &:focus {
            color: $navbar-transparent-link-hover-color;
            background-color: $navbar-transparent-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-transparent-link-active-color;
            background-color: $navbar-transparent-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-transparent-link-disabled-color;
            background-color: $navbar-transparent-link-disabled-bg;
          }
        }
      }
    }
  }

}

.navbar-toggle{
}

.navbar-toggle:hover{
}


/*!
*
* Subnavigation
*
*/

.subnav{
  @extend .list-inline;
  color: $gray-light;

  padding-bottom: $baseline * 2;
  border-bottom: 1px solid $gray-lighter;

  li{
    margin-bottom: 0 !important;

    &:last-child{
      margin-right: 0 !important;
    }
  }



}





/*!
*
* Full Screen Overlay
*
*/

/* Overlay style */

#trigger-overlay {
  cursor: pointer;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #3a3053;

  z-index: 900;
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../img/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 999;
}

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 6);
  min-height: 54px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.overlay ul li a {
  font-size: 32px;
  font-weight: 300;
  display: block;
  color: #fff;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
//  color: $navbar-transparent-link-active-color;
}

/* Effects */

.overlay-slidedown {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
  transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }
  .overlay ul li {
    min-height: 34px;
  }
}