/*!
*
* Page: Media
*
*/

.page-press{

.masthead.masthead-partitions{

        .masthead-partition-content{
          @include make-sm-column(6);
          @include make-sm-column-pull(6);

          text-align: left;

          height: 288px;

          @media (min-width: $screen-sm-min) {
            height: 500px;
          }
        }

        .masthead-partition-image{
          @include make-sm-column(6);
          @include make-sm-column-push(6);

          background-position: 50% 0%;
          background-size: cover;

          padding-left: 0;
          padding-right: 0;

          height: 320px;

          @media (min-width: $screen-sm-min) {
            height: 500px;
            background-position: 50% 0%;
          }

        }
      }





  .entry-content > .press-item{

    margin-bottom: $baseline * 4;

    @media (min-width: $screen-sm-min) {
      width: 83.33333%;
      margin-left: auto;
      margin-right: auto;
    }

    @media (min-width: $screen-md-min) {
      width: 83.33333%;
      margin-left: auto;
      margin-right: auto;
    }

    @media (min-width: $screen-lg-min) {
      width: 66.66667%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .press-title{
    a{
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }
    }
  }

  .press-date{
    color: $gray;
    margin-bottom: $baseline / 2;
    display: block;
  }

}