/*!
*
* Index Page
*
*/

.page-index{

	// Hide header and footer on home page only
	.site-header{
		.navbar-brand{
			display: none;
		}

	  .navbar-nav > li > a {

	    @media (min-width: $screen-sm-min) {
		    color: $gray-light;
	    	&:hover{
	    		color: $brand-primary;
	    	}

	    }
	  }
		.navbar.navbar-transparent{
			background: transparent;
			background-color: transparent;
			border-color: transparent;
		}

		.navbar.navbar-transparent .navbar-toggle {
		  border-color: $brand-primary;
		  color: $brand-primary;

		  &:hover,
		  &:focus{
		    background-color: $brand-primary;
		    color: $white;
		  }
		}
	}

 	@media (min-width: $screen-sm-min) {
		background-image: url(../img/kathryn-renee-thomas-headshot-home.jpg);
		background-repeat: no-repeat;
		height: 100%;
		background-position: 50% 25px;
 	}

 	@media (min-width: $screen-md-min) {
 	}

 	@media (min-width: $screen-lg-min) {
			background-size: cover;
 	}

 	@media (min-width: 1440px) {
		background-position: 100% 25px;
 	}


	.home-primary{
		background-image: url(../img/kathryn-renee-thomas-headshot-home.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 65% 0px;

		position: relative;

		height: 100vh;
		// min-height: 500px;

		padding-bottom: $baseline * 2;
		margin-top: -51px;

	 	@media (min-width: $screen-sm-min) {
	 		background: none;
			height: auto;
			margin-top: 0px;
			margin-bottom: $baseline * 2;
			padding-bottom: $baseline * 2;
	 	}
	}

	.home-primary-content{

		@include make-xs-column(10);
		@include make-xs-column-offset(1);

		@include make-sm-column(5);
		@include make-sm-column-offset(0);

		@include make-md-column(5);
		@include make-md-column-offset(0);

		@include make-lg-column(5);
		@include make-lg-column-offset(0);

		position: absolute;
		bottom: 10vh;

		text-align: center;

	 	@media (min-width: $screen-sm-min) {
			position: relative;
			top: $baseline * 2;

			text-align: left;
			margin-top: 0;
	 	}

	.display-title{
		color: $brand-primary;
		margin-bottom: 0;
	}

	.display-first-name{
		font-size: 2.6em;
		letter-spacing: -1px;
		line-height: 0.9;
		display: block;
		margin-bottom: -45px;

	 	@media (min-width: $screen-sm-min) {
	 	}

	 	@media (min-width: $screen-md-min) {
	 		font-size: 3.0em;
			margin-bottom: -75px;
	 	}

	 	@media (min-width: $screen-lg-min) {
	 	}
	}

	.display-middle-last-name{
		font-size: 1.6em;
		letter-spacing: -2px;
		line-height: 1;

	 	@media (min-width: $screen-sm-min) {
	 	}

	 	@media (min-width: $screen-md-min) {
			font-size: 1.8em;
			letter-spacing: -2px;
	 	}

	 	@media (min-width: $screen-lg-min) {
	 	}

	}

		p.lead{
			@extend .h3;
			font-family: $font-family-sans-serif;
			font-weight: $font-weight-light;
			margin-top: $baseline;
			margin-bottom: $baseline;
			color: $white;

		  -webkit-hyphens: none;
		  -moz-hyphens: none;
		  -ms-hyphens: none;
		  hyphens: none;

		 	@media (min-width: $screen-sm-min) {
				margin-bottom: $baseline * 2;
				margin-top: $baseline;
				color: $gray;
		 	}
		}
	}

	.home-secondary-content{
		@include make-xs-column(10);
		@include make-xs-column-offset(1);

		@include make-sm-column(4);
		@include make-sm-column-offset(0);

		@include make-md-column(3);
		@include make-md-column-offset(0);

		@include make-lg-column(3);
		@include make-lg-column-offset(0);

		margin-top: $baseline * 2;

	 	@media (min-width: $screen-sm-min) {
//	 		margin-top: 0;
	 	}



		h4{
			font-family: $font-family-sans-serif;
			font-weight: $font-weight-normal;
			color: $gray;
		}

		p{
			font-weight: $font-weight-light;
			color: $gray;
		}

		hr{
			margin-left: 0;
			margin-bottom: $baseline * 2;
			border-color: $gray-lighter;

		 	@media (min-width: $screen-sm-min) {
				max-width: 30%;
			}

		}
	}

	.home-tertiary-content{
		@include make-xs-column(10);
		@include make-xs-column-offset(1);

		@include make-sm-column(4);
		@include make-sm-column-offset(0);

		@include make-md-column(4);
		@include make-md-column-offset(0);

		@include make-lg-column(3);
		@include make-lg-column-offset(0);

		text-align: center;

	 	@media (min-width: $screen-sm-min) {
			text-align: left;
			padding-bottom: $baseline * 4;
		}
	}


	.site-footer{
	 	@media (min-width: $screen-sm-min) {
			display: none;
		}
	}

}