<!doctype html>
<html class="no-js" lang="en-us">

  {% include head.html %}
  {% include capture-body-classes.html %}

  <body class="{{ layout }} {{ path }} {{ masthead }}">

    {% include header.html %}

    <div class="site-container" id="site-container">
      <div class="site-content" id="site-content">
        <main class="site-main" id="site-main" role="main">

          {{ content }}

        </main>
      </div>
    </div>

    {% include footer.html %}
    {% include modules/module-nav-overlay.html %}
    {% include javascripts.html %}

  </body>
</html>