/*!
*
* Index Page
*
*/

.page-index{
 	@media (min-width: $screen-sm-min) {
 	}

 	@media (min-width: $screen-md-min) {
 	}

 	@media (min-width: $screen-lg-min) {
//			background-size: cover;
 	}

 	@media (min-width: 1440px) {
	//	background-position: 50% 0%;
 	}


	.site-content{
		padding-top: 0;
		padding-bottom: 0;
	}



	.home-primary{
		background-image: url(../img/katydids-cover-1600.jpg);
		background-repeat: no-repeat;
		height: 100vh;
		position: relative;
		background-position: 50% 0%;

		background-size: 100%;

		background-size: cover;
		background-position: 65% 0px;

	 	@media (min-width: $screen-sm-min) {
//	 		background: none;
//			height: auto;
//			margin-top: 0px;
//			margin-bottom: $baseline * 2;
//			padding-bottom: $baseline * 2;
	 	}
	}

	.home-primary-content{

		@include make-xs-column(10);
		@include make-xs-column-offset(1);

		@include make-sm-column(5);
		@include make-sm-column-offset(0);

		@include make-md-column(5);
		@include make-md-column-offset(0);

		@include make-lg-column(5);
		@include make-lg-column-offset(0);

		position: absolute;
		bottom: 10vh;

		text-align: center;

	 	@media (min-width: $screen-sm-min) {
			position: relative;
			top: $baseline * 2;

			text-align: left;
			margin-top: 0;
	 	}
	}


	.site-footer{
			display: none;

	 	@media (min-width: $screen-sm-min) {
			display: none;
		}
	}

}