/*!
*
* Page: About
*
*/

.page-about{

  .masthead-item,
  .item,
  .masthead-item-partition{
    background-position: 35% 0%;

    @media (min-width: $screen-sm-min) {
      background-position: 50% 0%;
    }
  }


  .site-content{
    padding-top: 0;
  }

  .entry-header-container{
    display: none;
  }

  #katydids-overview{
    text-align: center;
    padding-bottom: 0;

    header{
      padding-bottom: $baseline * 4;
    }

    h1.entry-title{
    }

    p.primary{
    }

    p.secondary{
      font-size: 1.125em;
      color: lighten($kd-charcoal, 50%);
    }
  }

  .katydid-thumb{
    overflow: hidden;

    @media (min-width: $screen-sm-min) {
      padding: 0;
    }

    figure{
      position: relative;
      margin-top: 0;
      margin-bottom: 0;

      figcaption{

        display: none; // Hide labels on phone

        @media (min-width: $screen-sm-min) {
          position: absolute;
          bottom: 0;
          text-align: center;
          background: rgba(0,0,0,0.6);
          display: block;
          margin-top: 0;
          margin-bottom: 0;
          width: 100%;
          color: $kd-gold;
          padding-top: $baseline;
          padding-bottom: $baseline;
        }

      }
    }
  }

  #katydids-bios{
    padding-bottom: 0;
  }

}