/*!
*
* Variables
*
*/

// Default Colors

$placeholder-blue:          #535C6D;
$white:                     #FFF;
$off-white:                 #FEFEFC;

$gray:                      #888;
$gray-dark:                 #666;
$gray-darker:               #444;
$gray-darkest:              #222;
$gray-light:                #AAA;
$gray-lighter:              #CCC;
$gray-lightest:             #DDD;

$neutral:                   #F5F1E3;
$neutral-dark:              darken($neutral, 5%);
$neutral-light:             lighten($neutral, 5%);


// Brand Colors

$kd-pink:                   #EC2B8C;
$kd-gold:                   #CCA665;
$kd-charcoal:               #24201E;

// Primary, Secondary and Neutral Colors

$brand-primary:             $kd-charcoal;
$brand-primary-dark:        darken($brand-primary, 5%);
$brand-primary-light:       lighten($brand-primary, 5%);

$brand-secondary:           $kd-gold;
$brand-secondary-dark:      darken($brand-secondary, 5%);
$brand-secondary-light:     lighten($brand-secondary, 5%);


// Buttons

$btn-primary-color:         $white;
$btn-primary-bg:            $brand-primary;
$btn-primary-border:        darken($brand-primary, 10%);

$btn-brand-color:           $white;
$btn-brand-bg:              $brand-primary;
$btn-brand-border:          darken($btn-brand-bg, 5%);

//** Global text color on <body>.
$text-color:                $gray-darker;

//** Global textual link color.
$link-color:                $kd-pink;

//** Link hover color set via darken() function.
$link-hover-color:          darken($link-color, 15%);


//** Font Families

// Sans Serif
$font-family-sans-serif:    "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

// Serif
$font-family-serif:         "Domine", serif;

// Display Fonts
//$font-family-display:       "Rancho", serif;
$font-family-display:       $font-family-serif;


//** Typography

// Setting new Base variables for responsive typography
$font-size-base-xs:         16px;
$font-size-base-sm:         16px;
$font-size-base-md:         16px;
$font-size-base-lg:         16px;

$line-height-base-xs:       1.5;
$line-height-base-sm:       1.5;
$line-height-base-md:       1.5;
$line-height-base-lg:       1.5;

// Overriding Bootstrap Variables
$font-size-base:            16px;
$font-size-small:           14px;
$font-size-large:           18px;
$line-height-base:          1.5;
$line-height-computed:      floor(($font-size-base * $line-height-base));


// Basic unit for vertical rhythm
$baseline:                  floor(($font-size-base * $line-height-base) / 2);
$baseline-xs:               floor(($font-size-base-xs * $line-height-base-xs) / 2);
$baseline-sm:               floor(($font-size-base-sm * $line-height-base-sm) / 2);
$baseline-md:               floor(($font-size-base-md * $line-height-base-md) / 2);
$baseline-lg:               floor(($font-size-base-lg * $line-height-base-lg) / 2);


//** Mastheads
$masthead-height-extra-small: $baseline * 15;
$masthead-height-small:   $baseline * 30;
$masthead-height-medium:  $baseline * 40;
$masthead-height-large:   $baseline * 50;

$masthead-height-special: 480px; // For special uses, like content overlapping the masthead


// Font Weights
$font-weight-thin:          100;
$font-weight-light:         300;
$font-weight-normal:        400;
$font-weight-book:          500;
$font-weight-semi-bold:     600;
$font-weight-bold:          700;
$font-weight-extra-bold:    800;
$font-weight-ultra-bold:    900;

// Heading Basics
$headings-font-family:      $font-family-serif;
$headings-font-weight:      $font-weight-bold;
$headings-line-height:      1.125;
$headings-color:            inherit;


// Font Sizes by Device

// Extra Small Devices (<768px)

$font-size-masthead-title-xs:       2.0em;
$line-height-masthead-title-xs:     1.125;

$font-size-masthead-subtitle-xs:    1.5em;
$line-height-masthead-subtitle-xs:  1.0;

$font-size-h1-xs:           1.75em;
$line-height-h1-xs:         1.285714;

$font-size-h2-xs:           1.5em;
$line-height-h2-xs:         1.3;

$font-size-h3-xs:           1.3125em;
$line-height-h3-xs:         1.142857;

$font-size-h4-xs:           1.125em;
$line-height-h4-xs:         1.333333;

$font-size-lead-xs:         1.125em;
$line-height-lead-xs:       1.5;

$font-size-blockquote-xs:   1.3125em;
$line-height-blockquote-xs: 1.714286;

$font-size-large-xs:        1.125em;
$font-size-small-xs:        0.875em;


// Small Devices (>= 768px)

$font-size-masthead-title-sm:       $font-size-masthead-title-xs;
$line-height-masthead-title-sm:     $line-height-masthead-title-xs;

$font-size-masthead-subtitle-sm:    $font-size-masthead-subtitle-xs;
$line-height-masthead-subtitle-sm:  $line-height-masthead-subtitle-xs;

$font-size-h1-sm:           $font-size-h1-xs;
$line-height-h1-sm:         $line-height-h1-xs;

$font-size-h2-sm:           $font-size-h2-xs;
$line-height-h2-sm:         $line-height-h2-xs;

$font-size-h3-sm:           $font-size-h3-xs;
$line-height-h3-sm:         $line-height-h3-xs;

$font-size-h4-sm:           $font-size-h4-xs;
$line-height-h4-sm:         $line-height-h4-xs;

$font-size-lead-sm:         $font-size-lead-xs;
$line-height-lead-sm:       $line-height-lead-xs;

$font-size-blockquote-sm:   $font-size-blockquote-xs;
$line-height-blockquote-sm: $line-height-blockquote-xs;

$font-size-large-sm:        $font-size-large-xs;
$font-size-small-sm:        $font-size-small-xs;


// Medium Devices (>= 992px)

$font-size-masthead-title-md:       2.625em;
$line-height-masthead-title-md:     1.428571;

$font-size-masthead-subtitle-md:    2.0em;
$line-height-masthead-subtitle-md:  1.125;

$font-size-h1-md:           3.0em;
$line-height-h1-md:         1.25;

$font-size-h2-md:           1.5em;
$line-height-h2-md:         1.5;

$font-size-h3-md:           1.3125em;
$line-height-h3-md:         1.142857;

$font-size-h4-md:           1.125em;
$line-height-h4-md:         1.333333;

$font-size-lead-md:         1.5em;
$line-height-lead-md:       1.5;

$font-size-blockquote-md:   1.5em;
$line-height-blockquote-md: 1.5;

$font-size-large-md:        1.5em;
$font-size-small-md:        0.875em;


// Large Devices (>= 1200px)

$font-size-masthead-title-lg:       $font-size-masthead-title-md;
$line-height-masthead-title-lg:     $line-height-masthead-title-md;

$font-size-masthead-subtitle-lg:    $font-size-masthead-subtitle-md;
$line-height-masthead-subtitle-lg:  $line-height-masthead-subtitle-md;

$font-size-h1-lg:           $font-size-h1-md;
$line-height-h1-lg:         $line-height-h1-md;

$font-size-h2-lg:           $font-size-h2-md;
$line-height-h2-lg:         $line-height-h2-md;

$font-size-h3-lg:           $font-size-h3-md;
$line-height-h3-lg:         $line-height-h3-md;

$font-size-h4-lg:           $font-size-h4-md;
$line-height-h4-lg:         $line-height-h4-md;

$font-size-lead-lg:         $font-size-lead-md;
$line-height-lead-lg:       $line-height-lead-md;

$font-size-blockquote-lg:   $font-size-blockquote-md;
$line-height-blockquote-lg: $line-height-blockquote-md;

$font-size-large-lg:        $font-size-large-md;
$font-size-small-lg:        $font-size-small-md;


//** Navbar
$navbar-border-radius:        0;
$navbar-height:               floor($baseline * 4.2);
$navbar-margin-bottom:        $baseline * 0;

$navbar-padding-horizontal:   floor(($grid-gutter-width / 2));
// $navbar-padding-vertical:  (($navbar-height - $line-height-computed) / 2);

$navbar-collapse-max-height:  340px;

// Default offset for fixed position nav bar that is 50px high with a 1px bottom border
$fixed-navbar-offset:         $navbar-height;

// Breakpoints
$screen-xl-min:               1400px;


//** Inverse Navbar Variables

$navbar-inverse-bg:                   $brand-primary;
$navbar-inverse-link-color:           $kd-gold;

$navbar-inverse-brand-color:          $kd-gold;
$navbar-inverse-brand-hover-color:    $kd-pink;
$navbar-inverse-brand-hover-bg:       transparent;

$navbar-inverse-link-active-color:    $kd-pink;
$navbar-inverse-link-active-bg:       transparent;

$navbar-inverse-link-hover-color:     $kd-pink;
$navbar-inverse-link-hover-bg:        transparent;

$navbar-inverse-toggle-color:         $kd-gold;
$navbar-inverse-toggle-hover-color:   $kd-gold;
$navbar-inverse-toggle-border-color:  $kd-gold;
$navbar-inverse-toggle-hover-bg:      $kd-charcoal;
$navbar-inverse-toggle-icon-bar-bg:   $kd-pink;


//** Transparent Navbar Variables

$navbar-transparent-bg-xs:                $brand-primary;
$navbar-transparent-bg:                   transparent;
$navbar-transparent-border:               transparent;

$navbar-transparent-brand-color-xs:       $white;
$navbar-transparent-brand-hover-color-xs: $gray-lighter;

$navbar-transparent-brand-color:          $brand-primary;
$navbar-transparent-brand-hover-color:    darken($brand-primary, 10%);
$navbar-transparent-brand-hover-bg:       transparent;

$navbar-transparent-color:                $white;
$navbar-transparent-link-color-xs:        $white;
$navbar-transparent-link-color:           $gray-light;
$navbar-transparent-link-hover-color:     $brand-primary;
$navbar-transparent-link-hover-bg:        transparent;

$navbar-transparent-link-active-color:    $brand-primary;
$navbar-transparent-link-active-bg:       transparent;

$navbar-transparent-link-disabled-color:  $gray-light;
$navbar-transparent-link-disabled-bg:     transparent;

$navbar-transparent-toggle-color:         $white;
$navbar-transparent-toggle-hover-color:   $brand-primary;
$navbar-transparent-toggle-border-color:  $white;
$navbar-transparent-toggle-hover-bg:      $white;
$navbar-transparent-toggle-icon-bar-bg:   $brand-primary;


//== Components
//## Define common padding and border radius sizes and more.
// Values based on 16px text and 1.5 line-height.
// Baseline is 12px (half of 16 * 1.5)

//$padding-base-vertical:     $baseline;
//$padding-base-horizontal:   $baseline * 2;

//$padding-large-vertical:    $baseline * 2;
//$padding-large-horizontal:  $baseline * 3;

//$padding-small-vertical:    $baseline / 2;
//$padding-small-horizontal:  $baseline;

//$padding-xs-vertical:       $baseline / 2;
//$padding-xs-horizontal:     $baseline;

//$line-height-large:         $line-height-base-md;
//$line-height-small:         $line-height-base-xs;

//$border-radius-base:        $baseline / 2;
//$border-radius-large:       $baseline / 2;
//$border-radius-small:       $baseline / 4;